.section {
  padding: 94px 0;
}
.section--user-background {
  background-color: var(--team-bg-color);
}
.section--no-padding-top {
  padding-top: 0;
}

.section__title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
