.skills {
  @media screen and (min-width: 768px) and (max-width: 1198px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.skills__item {
  width: 100%;

  @media screen and (min-width: 768px) and (max-width: 1198px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

@media screen and (max-width: 768px) {
  .skills__item:not(:last-child) {
    margin-top: 30px;
  }
  .skills__item:last-child {
    margin-bottom: 30px;
  }
}

// @media screen and (min-width: 768px) {
//   .skills__item:nth-child(odd) {
//     margin-right: 30px;
//   }
//   .skills__item:nth-child(-n + 2) {
//     margin-bottom: 30px;
//   }
// }

@media screen and (min-width: 1200px) {
  .skills__item:not(:last-child) {
    margin-right: 30px;
  }
}
.skills__title {
  color: var(--title-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.skills__text {
  margin-top: 10px;
  margin-bottom: 0;

  line-height: 1.71;
  letter-spacing: 0.03em;
}

.skills__icon-container {
  background: var(--team-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 120px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 120px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 120px;
  }
}

// .skills {
//   display: flex;
// }
// .skills__item {
//   width: 270px;

//   & + & {
//     margin-left: 30px;
//   }
// }

// .skills__title {
//   color: var(--title-text-color);
//   text-transform: uppercase;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
// }

// .skills__text {
//   margin-top: 10px;
//   margin-bottom: 0;

//   line-height: 1.71;
//   letter-spacing: 0.03em;
// }

// .skills__icon-container {
//   width: 270px;
//   height: 120px;
//   background: var(--team-bg-color);
//   border-radius: 4px;
//   margin-bottom: 30px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
